body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

body.normal {
    background-color: #ffffff;
    color: #000000;
}

body.deuteranopia {
    background-color: #fefefe;
    color: #000000;
}

body.protanopia {
    background-color: #ffefd5;
    color: #000000;
}

body.tritanopia {
    background-color: #e0ffff;
    color: #000000;
}